/* Cuerpo de página */
body {
    /* Color de fondo de la página: Dark Gray */
    background-color: #A9A9A9;
    /* Color del texto de la página: Blanco */
    color: white;
}

/* Cuerpos */
.cuerpo {
    /* Márgenes laterales */
    left: 10px;
    right: 10px;
}

/* Calendarios */
.calendar {
    /* Eliminación de separación vertical superior */
    padding-top: 0px;
}

/* Contenedores de vistas de calendario */
div.fc-view-container {
    /* Color de fondo de los calendarios: Steel Blue */
    background-color: #4682B4;
}

/* Eventos de calendario */
.fc-event {
    /* Tamaño normal de la fuente de los eventos */
    font-size: 1em;
    /* Fuente de los eventos en negrita */
    font-weight: bold;
    /* Fuente de los eventos sin subrayado */
    text-decoration: none !important;
}
