/* Cuerpo de página */
body {
    /* Margen inferior, para dar lugar al pie de página */
    margin-bottom: 100px;
}

/* Pie de página */
.navbar-fixed-bottom {
    /* Altura */
    height: 100px;
}

/* Contenido derecho del pie de página */
#footer-right-content {
    /* Márgenes */
    margin: 15px;
}

/* Imagen en pie de página */
.footer-image img {
    /* Dimensiones */
    width: 80px;
    height: auto;
}

/* Contenido izquierdo del pie de página */
#footer-left-content {
    /* Márgenes */
    margin: 25px;
}
