{% extends 'app_reservas/base.html' %}
{% load static %}

{% block static_css %}
    <!--Fullcalendar-Scheduler-->
    <link rel='stylesheet' href='{% static 'fullcalendar/dist/fullcalendar.min.css' %}' />
    <link rel='stylesheet' href='{% static 'fullcalendar-scheduler/dist/scheduler.min.css' %}' />
    <script src='{% static 'moment/min/moment.min.js' %}'></script>
    <script src='{% static 'jquery/dist/jquery.min.js' %}'></script>
    <script src='{% static 'fullcalendar/dist/fullcalendar.min.js' %}'></script>
    <script src='{% static 'fullcalendar/dist/lang/es.js' %}'></script>
    <script src='{% static 'fullcalendar-scheduler/dist/scheduler.min.js' %}'></script>
{% endblock %}

{% block title %}
    Área: {{ area }}
{% endblock %}

{% block contenido %}

<h1 style="text-align: center;">{{ area }}</h1>

    <br />
    <br />

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_listado_aulas">
                <h4 class="panel-title">
                    <a role="button"
                       data-toggle="collapse"
                       data-parent="#accordion"
                       href="#listado_aulas" aria-expanded="true" aria-controls="listado_aulas">
                        Listado de aulas
                    </a>
                </h4>
            </div>
            <div id="listado_aulas" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_listado_aulas">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">
                                    Aula
                                </th>
                                <th class="text-center">
                                    Capacidad
                                </th>
                                <th class="text-center">
                                    Acciones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if area.get_aulas %}
                                {% for aula in area.get_aulas %}
                                    <tr>
                                        <td>
                                            {{ aula }}
                                        </td>
                                        <td class="text-center">
                                            {{ aula.capacidad }}
                                        </td>
                                        <td class="text-center">
                                            <a role="button"
                                               class="btn btn-xs btn-info"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="Ver"
                                               href="{% url 'aula_detalle' aula.id %}">
                                                <span class="glyphicon glyphicon-eye-open"
                                                      aria-hidden="true">
                                                </span>
                                            </a>
                                            {% if aula.archivo_ubicacion %}
                                                <a role="button"
                                                   class="btn btn-xs btn-success"
                                                   data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   title="Ubicación"
                                                   href="/{{ aula.archivo_ubicacion.url }}">
                                                    <span class="glyphicon glyphicon-map-marker"
                                                          aria-hidden="true">
                                                    </span>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <td class="text-center alert-warning" colspan="4">
                                    Este área no tiene aulas asociadas.
                                </td>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<br />
<br />

<div id="calendar"></div>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>

<script>
    var current_date = new Date();
    var last_hour = (current_date.getHours() - 1) + ":00:00";

    $('#calendar').fullCalendar({
        defaultView: 'timelineDay',
        schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
        lang: 'es',
        resources: [
            {% for aula in area.get_aulas %}
                {
                    id: '{{ aula.id }}',
                    title: '{{ aula }}',
                },
            {% endfor %}
        ],
        eventSources: [
            {% for aula in area.get_aulas %}
                '{% url "aula_eventos_json" aula.id %}',
            {% endfor %}
        ],
        minTime: last_hour,
    });
</script>
{% endblock %}
