{% extends 'app_reservas/base_calendario.html' %}
{% load static %}

{% block title %}
    Área: {{ area }}
{% endblock %}


{% block contenido %}
    <h1 style="text-align: center;">{{ area }}</h1>

    <br />
    <br />

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_listado_aulas">
                <h4 class="panel-title">
                    <a role="button"
                       data-toggle="collapse"
                       data-parent="#accordion"
                       href="#listado_aulas" aria-expanded="true" aria-controls="listado_aulas">
                        Listado de aulas
                    </a>
                </h4>
            </div>
            <div id="listado_aulas" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_listado_aulas">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">
                                    Aula
                                </th>
                                <th class="text-center">
                                    Capacidad
                                </th>
                                <th class="text-center">
                                    Acciones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if area.get_aulas %}
                                {% for aula in area.get_aulas %}
                                    <tr>
                                        <td>
                                            {{ aula }}
                                        </td>
                                        <td class="text-center">
                                            {% if aula.capacidad > 0 %}
                                                {{ aula.capacidad }}
                                            {% else %}
                                                &#8212;
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <a role="button"
                                               class="btn btn-xs btn-info"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="Ver"
                                               href="{% url 'aula_detalle' aula.id %}">
                                                <span class="glyphicon glyphicon-eye-open"
                                                      aria-hidden="true">
                                                </span>
                                            </a>
                                            {% if aula.archivo_ubicacion %}
                                                <a role="button"
                                                   class="btn btn-xs btn-success"
                                                   data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   title="Ubicación"
                                                   target="_blank"
                                                   href="{{ aula.archivo_ubicacion.url }}">
                                                    <span class="glyphicon glyphicon-map-marker"
                                                          aria-hidden="true">
                                                    </span>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <td class="text-center alert-warning" colspan="4">
                                    Este área no tiene aulas asociadas.
                                </td>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div id="calendar"></div>
{% endblock contenido %}


{% block scripts %}
    {{ block.super }}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock %}


{% block fullcalendar_resources %}
    resourceLabelText: 'Aula',
    resources: [
        {% for aula in area.get_aulas %}
            {
                id: '{{ aula.id }}',
                title: '{{ aula }}',
            },
        {% endfor %}
    ],
{% endblock fullcalendar_resources %}


{% block fullcalendar_eventSources %}
    {% for aula in area.get_aulas %}
        {
            url: '{% url "recurso_eventos_json" aula.id %}',
            {% if aula.calendar_color %}
                color: '{{ aula.calendar_color }}',
            {% endif %}
        },
    {% endfor %}
{% endblock %}
