<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ aula }}</title>

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>


<!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <h1 style="text-align: center;">Aula {{ aula.numero }}</h1>
            <h3 style="text-align: center;">Nivel {{ aula.nivel.numero }} - Cuerpo {{ aula.nivel.cuerpo.numero }}</h3>

            <strong>Capacidad efectiva</strong>: {{ aula.capacidad }}

            <br />
            <br />

            <iframe src="https://www.google.com/calendar/embed?showPrint=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=1150&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src={{ aula.calendar_codigo }}%40group.calendar.google.com&ctz=America/Argentina/Buenos_Aires"
                    style="border: 0"
                    height=1150
                    frameborder="0"
                    scrolling="no">
            </iframe>
        </div>
    </main>
</div>

</body>
</html>