{% extends 'app_reservas/base.html' %}
{% load static %}

{% block static_css %}
    <!--Fullcalendar-Scheduler-->
    <link rel='stylesheet' href='{% static 'fullcalendar/dist/fullcalendar.min.css' %}' />
    <link rel='stylesheet' href='{% static 'fullcalendar-scheduler/dist/scheduler.min.css' %}' />
    <script src='{% static 'moment/min/moment.min.js' %}'></script>
    <script src='{% static 'jquery/dist/jquery.min.js' %}'></script>
    <script src='{% static 'fullcalendar/dist/fullcalendar.min.js' %}'></script>
    <script src='{% static 'fullcalendar/dist/lang/es.js' %}'></script>
    <script src='{% static 'fullcalendar-scheduler/dist/scheduler.min.js' %}'></script>
{% endblock %}

{% block title %}
    {{ aula }}
{% endblock %}

{% block contenido %}

<h1 style="text-align: center;">{{ aula.get_nombre_corto }}</h1>
<h3 style="text-align: center;">{{ aula.nivel }}</h3>

<br />
<br />

<div id="calendar"></div>

<script>
    $('#calendar').fullCalendar({
        defaultView: 'agendaWeek',
        schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
        lang: 'es',
        eventSources: [
            '{% url "aula_eventos_json" aula.id %}'
        ],
        minTime: '07:00:00',
    });
</script>
{% endblock %}
