{% extends 'app_reservas/base_calendario.html' %}
{% load static %}

{% block title %}
    {{ aula }}
{% endblock %}


{% block contenido %}
    <h1 style="text-align: center;">{{ aula.get_nombre_corto }}</h1>
    <h3 style="text-align: center;">{{ aula.nivel }}</h3>

    <br />
    <br />

    <div id="calendar"></div>
{% endblock contenido %}


{% block fullcalendar_defaultView %}
    defaultView: 'agendaWeek',
{% endblock fullcalendar_defaultView %}


{% block fullcalendar_eventSources %}
    {
        url: '{% url "recurso_eventos_json" aula.id %}',
        {% if aula.calendar_color %}
            color: '{{ aula.calendar_color }}',
        {% endif %}
    },
{% endblock %}
