{% extends 'app_reservas/base.html' %}
{% load static %}

{% block static_css %}
    <link rel='stylesheet' href='{% static 'fullcalendar/dist/fullcalendar.min.css' %}' />
    <link rel='stylesheet' href='{% static 'fullcalendar-scheduler/dist/scheduler.min.css' %}' />
    <link rel="stylesheet" href='{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}' />
{% endblock static_css %}


{% block static_js_body %}
    <script src='{% static 'moment/min/moment.min.js' %}'></script>
    <script src='{% static 'fullcalendar/dist/fullcalendar.min.js' %}'></script>
    <script src='{% static 'fullcalendar/dist/lang/es.js' %}'></script>
    <script src='{% static 'fullcalendar-scheduler/dist/scheduler.min.js' %}'></script>
    <script src='{% static 'bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}'></script>
    <script src='{% static 'bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js' %}'></script>
{% endblock static_js_body %}


{% block scripts %}
    <script>
        {% block fullcalendar_js_vars %}{% endblock %}

        $(document).ready(function() {
            $({% block fullcalendar_container %}'#calendar'{% endblock %}).fullCalendar({
                {% block fullcalendar_defaultView %}
                    defaultView: 'timelineDay',
                {% endblock %}
                schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
                lang: 'es',
                contentHeight: 'auto',
                minTime: '07:00:00',
                nowIndicator: true,
                {% block fullcalendar_resources %}{% endblock %}
                eventSources: [
                    {% block fullcalendar_eventSources %}{% endblock %}
                ],
                customButtons: {
                    datepickerButton: {
                        text: 'Calendario',
                        icon: 'datepicker',
                    }
                },
                header: {
                    {% block fullcalendar_header %}
                        left: 'prev,next today datepickerButton',
                        center: 'title',
                        right: '',
                    {% endblock %}
                },
                viewRender: function(view, element) {
                    // Obtiene el objeto asociado al datepicker.
                    var datepicker = $('.fc-datepickerButton-button');
                    // Comprueba que el datepicker ya haya sido cargado. Sino, retorna.
                    if (! datepicker.data('datepicker')) {
                        return;
                    }
                    // Obtiene las fechas establecidas, en el calendario y en el datepicker.
                    var fechaFullcalendar = new Date(view.intervalStart);
                    var fechaDatepicker = new Date(datepicker.datepicker('getDate'));
                    // Crea momentos en base a las fechas, especificadas en UTC.
                    var momentoFullcalendar = moment(fechaFullcalendar).utc();
                    var momentoDatepicker = moment(fechaDatepicker).utc();
                    // Comprueba que los días indicados por ambas fechas sean distintos.
                    // En caso de serlo, actualiza la fecha del datepicker para que refleje
                    // correctamente el estado actual del calendario.
                    if (! momentoFullcalendar.isSame(momentoDatepicker, 'day')) {
                        datepicker.datepicker('setUTCDate', momentoFullcalendar.toDate());
                    }
                },
                {% block fullcalendar_loading_callback %}
                    loading: function(isLoading, view) {
                        if (isLoading) {
                            loadingSpinner = $('<i id="calendar_loading_indicator" class="fa fa-2x fa-spinner fa-spin"></i>');
                            $('.fc-left').append(loadingSpinner);
                        }
                        else {
                            $('#calendar_loading_indicator').remove();
                        }
                    },
                {% endblock fullcalendar_loading_callback %}
                {% block fullcalendar_opciones %}{% endblock %}
            });

            // Añade el ícono personalizado al botón del datepicker.
            $('.fc-icon-datepicker').append('<i class="fa fa-calendar"></i>')
        });
    </script>

    <script>
        $(document).ready(function() {
            var primer_dia_anio_actual = new Date(new Date().getFullYear(),
                                                  0,
                                                  1);
            var ultimo_dia_anio_siguiente = new Date(new Date().getFullYear() + 1,
                                                     11,
                                                     31);

            $('.fc-datepickerButton-button').datepicker({
                format: 'dd/mm/yyyy',
                language: 'es',
                daysOfWeekDisabled: '0',
                autoclose: true,
                todayHighlight: true,
                startDate: primer_dia_anio_actual,
                endDate: ultimo_dia_anio_siguiente,
            })
                .on('changeDate', function(e) {
                    $('#calendar').fullCalendar('gotoDate', e.date);
                });
        });
    </script>
{% endblock scripts %}
