{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    {% block head_meta %}{% endblock %}

    <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />

    <title>{% block title %}Gestión de recursos{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootswatch-dist/css/bootstrap.min.css' %}">
    <!-- Font-Awesome CSS -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <!-- Pace.js theme -->
    <link rel="stylesheet" href="{% static 'PACE/themes/blue/pace-theme-flash.css' %}">

    {% block static_css %}
        <link rel="stylesheet" href="{% static 'apps/reservas/css/base.css' %}">
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block static_js_head %}{% endblock %}
</head>

<body>

{% block header %}
    {% load navbar_tags %}
    {% obtener_informacion_navbar %}
{% endblock header %}

<div class="container-fluid">

    {% block contenido %}{% endblock %}

</div> <!-- /container-fluid -->

{% block footer %}
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div id="footer-left-column" class="hidden-xs col-sm-6 col-md-6 col-lg-6">
                {% block footer_left %}{% endblock footer_left %}
            </div>
            <div id="footer-right-column" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                {% block footer_right %}
                    <div id="footer-right-image" class="footer-image">
                        <img src='{% static 'apps/reservas/images/gtlogo-50px.png'%}'></img>
                    </div>
                    <div id="footer-right-content">
                        <p>
                            Gestión Tecnológica, SeTIC
                            <br />
                            FRM &#8212; UTN
                        </p>
                    </div>
                {% endblock footer_right %}
            </div>
        </div>
    </nav>
{% endblock footer %}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
<script src="{% static 'bootswatch-dist/js/bootstrap.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
<!-- Pace.js -->
<script src="{% static 'PACE/pace.min.js' %}"></script>
{% block static_js_body %}{% endblock %}

<script>
    // Resalta la opción del navbar que está siendo visualizada actualmente.
    $('#navbar a[href="' + location.pathname + '"]').parent('li').addClass('active');
</script>

{% block scripts %}{% endblock %}
</body>
</html>
