{% extends 'app_reservas/base_calendario.html' %}
{% load static %}


{% block head_meta %}
    <!--
    Refresca la página cada 10 minutos. Esto permite la visualizacion de nuevos
    eventos y el cálculo de los tiempos de inicio y fin de los calendarios.
    -->
    <meta http-equiv="refresh" content="600">
{% endblock head_meta %}


{% block header %}
{% endblock header %}


{% block static_css %}
    {{ block.super }}

    <link rel="stylesheet" href='{% static 'apps/reservas/css/tv.css' %}'>
{% endblock static_css %}


{% block fullcalendar_header %}
    left: '',
    center: '',
    right: '',
{% endblock fullcalendar_header %}


{% block fullcalendar_js_vars %}
    var display_hours = 5; // TODO: Parametrizar
    var previous_hour = new Date().getHours() - 1;

    // Determina la hora mínima a mostrar, que no debe ser anterior a las 7:00 ni superar las
    // 24:00 al sumarle la cantidad de horas a visualizar.
    if (previous_hour < 7) {
        min_hour = 7
    }
    else if (previous_hour > 24 - display_hours) {
        min_hour = 24 - display_hours
    }
    else {
        min_hour = previous_hour
    }

    var max_hour = min_hour + display_hours;

    var min_time_string = min_hour.toString() + ':00:00';
    var max_time_string = max_hour.toString() + ':00:00';
{% endblock fullcalendar_js_vars %}


{% block fullcalendar_loading_callback %}
{% endblock fullcalendar_loading_callback %}


{% block fullcalendar_opciones %}
    minTime: min_time_string,
    maxTime: max_time_string,
    eventBackgroundColor: '#009000',
    eventBorderColor: '#FFFFFF',
{% endblock fullcalendar_opciones %}
