{% extends 'app_reservas/base_calendario.html' %}
{% load static %}

{% block title %}
    {{ cuerpo }}
{% endblock title %}


{% block contenido %}
    <div class="page-header">
        <h1>{{ cuerpo }}</h1>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for nivel in cuerpo.get_niveles %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading_nivel_{{ nivel.id }}">
                    <h4 class="panel-title">
                        <a role="button"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           href="#nivel_{{ nivel.id }}" aria-expanded="true" aria-controls="nivel_{{ nivel.id }}">
                            {{ nivel.get_nombre_corto }}
                        </a>
                        <a role="button"
                           class="btn btn-xs btn-info pull-right"
                           href="{% url 'nivel_detalle' cuerpo.numero nivel.numero %}">
                            <span class="glyphicon glyphicon-eye-open"
                                  aria-hidden="true">
                            </span>
                            &nbsp;Detalles
                        </a>
                    </h4>
                </div>
                <div id="nivel_{{ nivel.id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_nivel_{{ nivel.id }}">
                    <div class="panel-body">
                        {% for tipo_recurso in nivel.get_recursos %}
                            <div class="table-responsive">
                                <table class="table table-condensed table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                {{ tipo_recurso.nombre_singular }}
                                            </th>
                                            <th class="text-center">
                                                Capacidad
                                            </th>
                                            {% if tipo_recurso.nombre_singular == "Aula" %}
                                                <th class="text-center">
                                                    Áreas a cargo
                                                </th>
                                            {% endif %}
                                            <th class="text-center">
                                                Acciones
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for recurso in tipo_recurso.elementos %}
                                            <tr>
                                                <td>
                                                    {{ recurso.get_nombre_corto }}
                                                </td>
                                                <td class="text-center">
                                                    {% if recurso.capacidad > 0 %}
                                                        {{ recurso.capacidad }}
                                                    {% else %}
                                                        &#8212;
                                                    {% endif %}
                                                </td>
                                                {% if tipo_recurso.nombre_singular == "Aula" %}
                                                    <td class="text-center">
                                                        {% for area in recurso.areas.all %}
                                                            {{ area }}
                                                            {% if not forloop.last %}
                                                                &#8212;
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                {% endif %}
                                                <td class="text-center">
                                                    <a role="button"
                                                       class="btn btn-xs btn-info"
                                                       {% if tipo_recurso.slug == "laboratorio" %}
                                                           href="{% url tipo_recurso.slug|add:'_detalle' recurso.tipo.slug recurso.get_identificador_url %}">
                                                       {% else %}
                                                           href="{% url tipo_recurso.slug|add:'_detalle' recurso.get_identificador_url %}">
                                                       {% endif %}
                                                        <span class="glyphicon glyphicon-eye-open"
                                                              aria-hidden="true">
                                                        </span>
                                                        <span class="hidden-xs">
                                                            &nbsp;Detalles
                                                        </span>
                                                    </a>
                                                    {% if recurso.archivo_ubicacion %}
                                                        <a role="button"
                                                           class="btn btn-xs btn-success"
                                                           target='_blank'
                                                           href="{{ recurso.archivo_ubicacion.url }}">
                                                            <span class="glyphicon glyphicon-map-marker"
                                                                  aria-hidden="true">
                                                            </span>
                                                            <span class="hidden-xs">
                                                                &nbsp;Ubicación
                                                            </span>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="calendar" class="calendar"></div>
{% endblock contenido %}


{% block fullcalendar_resources %}
    resourceColumns: [
        {
            group: true,
            labelText: 'Nivel',
            field: 'nivel'
        },
        {
            labelText: 'Recurso',
            field: 'title'
        },
    ],
    resources: [
        {% for nivel in cuerpo.get_niveles %}
            {% for tipo_recurso in nivel.get_recursos %}
                {% for recurso in tipo_recurso.elementos %}
                    {
                        id: '{{ recurso.id }}',
                        nivel: '{{ nivel.get_nombre_corto }}',
                        title: '{{ recurso.get_nombre_corto }}',
                    },
                {% endfor %}
            {% endfor %}
        {% endfor %}
    ],
{% endblock fullcalendar_resources %}


{% block fullcalendar_eventSources %}
    {% for nivel in cuerpo.get_niveles %}
        {% for tipo_recurso in nivel.get_recursos %}
            {% for recurso in tipo_recurso.elementos %}
                {
                    url: '{% url "recurso_eventos_json" recurso.id %}',
                    {% if recurso.calendar_color %}
                        color: '{{ recurso.calendar_color }}',
                    {% endif %}
                },
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock fullcalendar_eventSources %}
