{% extends 'app_reservas/base.html' %}
{% load static %}

{% block static_css %}
    <!--Fullcalendar-Scheduler-->
    <link rel='stylesheet' href='{% static 'fullcalendar/dist/fullcalendar.css' %}' />
    <link rel='stylesheet' href='{% static 'fullcalendar-scheduler/dist/scheduler.css' %}' />
    <script src='{% static 'moment/moment.js' %}'></script>
    <script src='{% static 'jquery/dist/jquery.js' %}'></script>
    <script src='{% static 'fullcalendar/dist/fullcalendar.js' %}'></script>
    <script src='{% static 'fullcalendar/dist/lang/es.js' %}'></script>
    <script src='{% static 'fullcalendar-scheduler/dist/scheduler.js' %}'></script>
{% endblock %}

{% block title %}
    {{ cuerpo.get_nombre_corto }}
{% endblock %}

{% block contenido %}

<h1 style="text-align: center;">{{ cuerpo.get_nombre_corto }}</h1>

<br />
<br />

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for nivel in cuerpo.get_niveles %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading_nivel_{{ nivel.id }}">
                    <h4 class="panel-title">
                        <a role="button"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           href="#nivel_{{ nivel.id }}" aria-expanded="true" aria-controls="nivel_{{ nivel.id }}">
                            {{ nivel.get_nombre_corto }}
                        </a>
                        <a role="button"
                           class="btn btn-xs btn-info pull-right"
                           href="{% url 'nivel_detalle' cuerpo.numero nivel.numero %}">
                            <span class="glyphicon glyphicon-eye-open"
                                  aria-hidden="true">
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="nivel_{{ nivel.id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_nivel_{{ nivel.id }}">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            Aula
                                        </th>
                                        <th class="text-center">
                                            Capacidad
                                        </th>
                                        <th class="text-center">
                                            Áreas a cargo
                                        </th>
                                        <th class="text-center">
                                            Acciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if nivel.get_aulas %}
                                    {% for aula in nivel.get_aulas %}
                                        <tr>
                                            <td>
                                                {{ aula.get_nombre_corto }}
                                            </td>
                                            <td class="text-center">
                                                {{ aula.capacidad }}
                                            </td>
                                            <td class="text-center">
                                                {% for area in aula.areas.all %}
                                                    {{ area }}
                                                    {% if not forloop.last %}
                                                        ,
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td class="text-center">
                                                <a role="button"
                                                   class="btn btn-xs btn-info"
                                                   data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   title="Ver"
                                                   href="{% url 'aula_detalle' cuerpo.numero nivel.numero aula.numero %}">
                                                    <span class="glyphicon glyphicon-eye-open"
                                                          aria-hidden="true">
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% else %}
                                        <td class="text-center alert-warning" colspan="4">
                                            Este nivel no tiene aulas asociadas.
                                        </td>
                                    {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <br />
    <br />

    <div id="calendar"></div>


    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>

<script>
    var current_date = new Date();
    var last_hour = (current_date.getHours() - 1) + ":00:00";

    $('#calendar').fullCalendar({
        defaultView: 'timelineDay',
        schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
        lang: 'es',
        resourceColumns: [
            {
                group: true,
				labelText: 'Nivel',
				field: 'nivel'
            },
			{
				labelText: 'Aula',
				field: 'title'
			},
        ],
        resources: [
            {% for nivel in cuerpo.get_niveles %}
                {% for aula in nivel.get_aulas %}
                    {
                        id: '{{ aula.id }}',
                        nivel: '{{ nivel.get_nombre_corto }}',
                        title: '{{ aula.get_nombre_corto }}',
                    },
                {% endfor %}
            {% endfor %}
        ],
        events: [
            {% for nivel in cuerpo.get_niveles %}
                {% for aula in nivel.get_aulas %}
                    {% for evento in aula.get_eventos %}
                        {
                            title: '{{ evento.titulo }}',
                            start: '{{ evento.inicio_str }}',
                            end: '{{ evento.fin_str }}',
                            resourceId: '{{ aula.id }}',
                        },
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        ],
        minTime: last_hour,
    });
</script>
{% endblock %}
