{% extends 'app_reservas/base.html' %}
{% load static %}

{% block static_css %}
    <link rel="stylesheet" href='{% static 'slick-carousel/slick/slick.css' %}'>
    <link rel="stylesheet" href='{% static 'slick-carousel/slick/slick-theme.css' %}'>
{% endblock %}


{% block static_js_body %}
    <script src='{% static 'slick-carousel/slick/slick.min.js' %}'></script>
{% endblock %}


{% block title %}
    Gestión de recursos
{% endblock title %}


{% block contenido %}

    <h1 style="text-align: center;">Gestión de recursos</h1>

    {% if carrusel_imagenes %}
        <div style="width: 90%; max-width: {{ carrusel.ancho_maximo}}px; margin: 0 auto; padding: 30px 0;">
            <div class="carrusel-index">
                {% for imagen in carrusel_imagenes %}
                    <div>
                        <img src="{{ imagen.get_url }}" alt="Imagen {{ forloop.counter }}"
                             class="img-rounded" width="100%">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <p class="text-center">
        ¡Bienvenido! En este sitio podrá consultar las reservas de aulas pertenecientes a la Facultad Regional Mendoza,
        Universidad Tecnológica Nacional.
    </p>

{% endblock contenido %}


{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.carrusel-index').slick(
                {
                    dots: true,
                    infinite: true,
                    speed: 800,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 4000,
                }
            );
        });
    </script>
{% endblock %}
