{% extends 'app_reservas/base.html' %}
{% load static %}

{% block static_css %}
{% endblock %}

{% block static_js %}
{% endblock %}

{% block title %}
    Administración de aulas
{% endblock title %}

{% block contenido %}

    <h1 style="text-align: center;">Administración de aulas</h1>

    <p class="text-center">
    ¡Bienvenido! En este sitio podrá consultar las reservas de aulas pertenecientes a la Facultad Regional Mendoza,
    Universidad Tecnológica Nacional.
    </p>

{% endblock contenido %}
