{% extends 'app_reservas/base_carrusel.html' %}
{% load static %}

{% block title %}
    Gestión de recursos
{% endblock title %}


{% block contenido %}
    <div class="page-header">
        <h1>Gestión de recursos</h1>
    </div>

    {% if carrusel_imagenes %}
        <div style="width: 90%; max-width: {{ carrusel.ancho_maximo}}px; margin: 0 auto; padding: 30px 0;">
            <div class="carrusel">
                {% for imagen in carrusel_imagenes %}
                    <div>
                        <img src="{{ imagen.get_url }}" alt="Imagen {{ forloop.counter }}"
                             class="img-rounded" width="100%">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <p class="text-center">
        ¡Bienvenido! En este sitio podrá consultar las reservas de aulas pertenecientes a la Facultad Regional Mendoza,
        Universidad Tecnológica Nacional.
    </p>
{% endblock contenido %}
