{% extends 'app_reservas/base_calendario.html' %}
{% load static %}

{% block title %}
    {{ laboratorio }}
{% endblock title %}


{% block contenido %}
    <div class="page-header">
        <h1>{{ laboratorio }}</h1>
    </div>

    <div class="col-sm-offset-3 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Información
                </h3>
            </div>
            <table class="table table-bordered">
                <tr>
                    <th scope="row">Acrónimo</th>
                    <td class="text-center">{{ laboratorio.alias }}</td>
                </tr>
                {% if laboratorio.capacidad %}
                    <tr>
                        <th scope="row">Capacidad</th>
                        <td class="text-center">{{ laboratorio.capacidad }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th scope="row">Ubicación</th>
                    <td class="text-center">{{ laboratorio.nivel }}</td>
                </tr>
                {% if laboratorio.archivo_ubicacion %}
                    <tr>
                        <th scope="row">Mapa</th>
                        <td class="text-center">
                            <a role="button"
                               class="btn btn-xs btn-success"
                               target="_blank"
                               href="{{ laboratorio.archivo_ubicacion.url }}">
                                <span class="glyphicon glyphicon-map-marker"
                                      aria-hidden="true">
                                </span>
                                &nbsp;Visualizar
                            </a>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

    <div id="calendar" class="calendar col-sm-12"></div>
{% endblock contenido %}


{% block fullcalendar_defaultView %}
    defaultView: 'agendaWeek',
{% endblock fullcalendar_defaultView %}


{% block fullcalendar_eventSources %}
    {
        url: '{% url "recurso_eventos_json" laboratorio.id %}',
        {% if laboratorio.calendar_color %}
            color: '{{ laboratorio.calendar_color }}',
        {% endif %}
    },
{% endblock fullcalendar_eventSources %}
