<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm hidden-md" href="{% url 'index' %}">Gestión de recursos</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'index' %}">
                        <i class="fa fa-home fa-lg fa-fw"></i>
                        &nbsp;<span class="hidden-sm">Inicio</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <span class="hidden-sm"><i class="fa fa-university fa-lg fa-fw"></i></span>
                        &nbsp;Distribución física <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for cuerpo in lista_cuerpos %}
                            <li>
                                <a href="{% url 'cuerpo_detalle' cuerpo.numero %}">
                                    {{ cuerpo.get_nombre_corto }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <span class="hidden-sm"><i class="fa fa-book fa-lg fa-fw"></i></span>
                        &nbsp;Aulas <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for area in lista_areas %}
                            <li>
                                <a href="{% url 'area_detalle' area.slug %}">
                                    {{ area.nombre }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <span class="hidden-sm"><i class="fa fa-flask fa-lg fa-fw"></i></span>
                        &nbsp;Laboratorios <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for tipo in lista_tipos_laboratorio %}
                            <li>
                                <a href="{% url 'tipo_laboratorio_detalle' tipo.slug %}">
                                    {{ tipo.nombre }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <span class="hidden-sm"><i class="fa fa-desktop fa-lg fa-fw"></i></span>
                        &nbsp;ALI <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'laboratorio_informatico_listado' %}">
                                Laboratorios informáticos
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'ali_videoconferencias_detalle' %}">
                                Videoconferencias
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        {% for tipo in lista_tipos_recurso_ali %}
                            <li>
                                <a href="{% url 'tipo_recurso_ali_detalle' tipo.slug %}">
                                    {{ tipo.nombre_plural }}
                                </a>
                            </li>
                        {% endfor %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'solicitud_ali_reclamos_sugerencias' %}">Reclamos y sugerencias</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <span class="hidden-sm"><i class="fa fa- fa-pencil-square-o fa-lg fa-fw"></i></span>
                        &nbsp;Solicitudes <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'solicitud_aula' %}">Aula</a></li>
                        <li><a href="{% url 'solicitud_instalacion_software' %}">Instalación de software</a></li>
                        <li><a href="{% url 'solicitud_laboratorio_informatico' %}">Laboratorio informático</a></li>
                        <li><a href="{% url 'solicitud_material_multimedia' %}">Material multimedia</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href='https://github.com/utn-frm-si/reservas'
                       target='_blank'>
                        <i class="fa fa- fa-github fa-lg fa-fw"></i>&nbsp;<span class="hidden-sm">GitHub</span>
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
