{% extends 'app_reservas/base_calendario.html' %}
{% load static %}

{% block title %}
    {{ nivel }}
{% endblock title %}


{% block contenido %}
    <h1 style="text-align: center;">{{ nivel.get_nombre_corto }}</h1>
    <h3 style="text-align: center;">{{ nivel.cuerpo }}</h3>

    <br/>
    <br/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for tipo_recurso in nivel.get_recursos %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading_listado_{{ tipo_recurso.slug }}">
                    <h4 class="panel-title">
                        <a role="button"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           href="#listado_{{ tipo_recurso.slug }}"
                           aria-expanded="true"
                           aria-controls="listado_{{ tipo_recurso.slug }}">
                            {{ tipo_recurso.nombre_plural }}
                        </a>
                    </h4>
                </div>
                <div id="listado_{{ tipo_recurso.slug }}"
                     class="panel-collapse collapse in"
                     role="tabpanel"
                     aria-labelledby="heading_listado_{{ tipo_recurso.slug }}">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center">
                                        {{ tipo_recurso.nombre_singular }}
                                    </th>
                                    <th class="text-center">
                                        Capacidad
                                    </th>
                                    {% if tipo_recurso.nombre_singular == "Aula" %}
                                        <th class="text-center">
                                            Áreas a cargo
                                        </th>
                                    {% endif %}
                                    <th class="text-center">
                                        Acciones
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for recurso in tipo_recurso.elementos %}
                                        <tr>
                                            <td>
                                                {{ recurso.get_nombre_corto }}
                                            </td>
                                            <td class="text-center">
                                                {% if recurso.capacidad > 0 %}
                                                    {{ recurso.capacidad }}
                                                {% else %}
                                                    &#8212;
                                                {% endif %}
                                            </td>
                                            {% if tipo_recurso.nombre_singular == "Aula" %}
                                                <td class="text-center">
                                                    {% for area in recurso.areas.all %}
                                                        {{ area }}
                                                        {% if not forloop.last %}
                                                            &#8212;
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                            {% endif %}
                                            <td class="text-center">
                                                <a role="button"
                                                   class="btn btn-xs btn-info"
                                                   data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   title="Ver"
                                                   href="{% url tipo_recurso.slug|add:'_detalle' recurso.id %}">
                                                    <span class="glyphicon glyphicon-eye-open"
                                                          aria-hidden="true">
                                                    </span>
                                                </a>
                                                {% if recurso.archivo_ubicacion %}
                                                    <a role="button"
                                                       class="btn btn-xs btn-success"
                                                       data-toggle="tooltip"
                                                       data-placement="bottom"
                                                       title="Ubicación"
                                                       target='_blank'
                                                       href="{{ recurso.archivo_ubicacion.url }}">
                                                        <span class="glyphicon glyphicon-map-marker"
                                                              aria-hidden="true">
                                                        </span>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="calendar" class="calendar"></div>
{% endblock contenido %}


{% block scripts %}
    {{ block.super }}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock scripts %}


{% block fullcalendar_resources %}
    resourceLabelText: 'Recurso',
    resources: [
        {% for tipo_recurso in nivel.get_recursos %}
            {% for recurso in tipo_recurso.elementos %}
                {
                    id: '{{ recurso.id }}',
                    title: '{{ recurso.get_nombre_corto }}',
                },
            {% endfor %}
        {% endfor %}
    ],
{% endblock fullcalendar_resources %}


{% block fullcalendar_eventSources %}
    {% for tipo_recurso in nivel.get_recursos %}
        {% for recurso in tipo_recurso.elementos %}
            {
                url: '{% url "recurso_eventos_json" recurso.id %}',
                {% if recurso.calendar_color %}
                    color: '{{ recurso.calendar_color }}',
                {% endif %}
            },
        {% endfor %}
    {% endfor %}
{% endblock fullcalendar_eventSources %}
