{% extends 'app_reservas/base_calendario.html' %}
{% load static %}

{% block title %}
    Proyectores multimedia
{% endblock title %}

{% block contenido %}
    <h1 style="text-align: center;">Proyectores multimedia</h1>

    <br/>
    <br/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_listado_proyectores_multimedia">
                <h4 class="panel-title">
                    <a role="button"
                       data-toggle="collapse"
                       data-parent="#accordion"
                       href="#listado_proyectores_multimedia" aria-expanded="true" aria-controls="listado_proyectores_multimedia">
                        Listado de proyectores multimedia
                    </a>
                </h4>
            </div>
            <div id="listado_proyectores_multimedia" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_listado_proyectores_multimedia">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">
                                    Proyector multimedia
                                </th>
                                <th class="text-center">
                                    Acciones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if proyectores %}
                                {% for proyector in proyectores %}
                                    <tr>
                                        <td>
                                            {{ proyector.get_nombre_corto }}
                                        </td>
                                        <td class="text-center">
                                            <a role="button"
                                               class="btn btn-xs btn-info"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="Ver"
                                               href="{% url 'proyector_multimedia_detalle' proyector.identificador %}">
                                                <span class="glyphicon glyphicon-eye-open"
                                                      aria-hidden="true">
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <td class="text-center alert-warning" colspan="4">
                                    No hay proyectores multimedia cargados.
                                </td>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="calendar" class="calendar"></div>
{% endblock contenido %}


{% block scripts %}
    {{ block.super }}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock scripts %}


{% block fullcalendar_resources %}
    resourceLabelText: 'Proyector multimedia',
    resources: [
        {% for proyector in proyectores %}
            {
                id: '{{ proyector.id }}',
                title: '{{ proyector.get_nombre_corto }}',
            },
        {% endfor %}
    ],
{% endblock fullcalendar_resources %}


{% block fullcalendar_eventSources %}
    {% for proyector in proyectores %}
        {
            url: '{% url "recurso_eventos_json" proyector.id %}',
            {% if proyector.calendar_color %}
                color: '{{ proyector.calendar_color }}',
            {% endif %}
        },
    {% endfor %}
{% endblock fullcalendar_eventSources %}
