{% extends 'app_reservas/base_calendario.html' %}
{% load static %}

{% block title %}
    {{ proyector }}
{% endblock title %}

{% block contenido %}
    <h1 style="text-align: center;">{{ proyector }}</h1>

    <br />
    <br />

    <div id="calendar"></div>
    {% endblock contenido %}


{% block fullcalendar_defaultView %}
    defaultView: 'agendaWeek',
{% endblock fullcalendar_defaultView %}


{% block fullcalendar_eventSources %}
    {
        url: '{% url "recurso_eventos_json" proyector.id %}',
        {% if proyector.calendar_color %}
            color: '{{ proyector.calendar_color }}',
        {% endif %}
    },
{% endblock fullcalendar_eventSources %}
