{% extends 'app_reservas/base.html' %}
{% load static %}

{% block title %}
    Solicitud de material multimedia
{% endblock %}

{% block contenido %}
    <div style="text-align: center;">
        <iframe src="https://docs.google.com/forms/d/1_aUNI5eya1uug5952bvsVB05gLBqexwOKthYJ4n1NNM/viewform?embedded=true"
                width="760"
                height="900"
                frameborder="0"
                marginheight="0"
                marginwidth="0">
            Cargando...
        </iframe>
    </div>
{% endblock %}
