{% extends 'app_reservas/base.html' %}
{% load static %}

{% block title %}
    Solicitud de aulas
{% endblock %}

{% block contenido %}
    <div style="text-align: center;">
        <iframe src="https://docs.google.com/forms/d/1bFytze8hofQshzOf5LshWhLR0_CCPEn9sjpPU_c06pc/viewform?embedded=true"
                width="760"
                height="900"
                frameborder="0"
                marginheight="0"
                marginwidth="0">
            Cargando...
        </iframe>
    </div>
{% endblock %}
