{% extends 'app_reservas/base_calendario.html' %}
{% load static %}

{% block title %}
    {{ tipo_recurso.nombre_plural }}
{% endblock title %}


{% block contenido %}
    <div class="page-header">
        <h1>{{ tipo_recurso.nombre_plural }}</h1>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_listado_tipo_recurso">
                <h4 class="panel-title">
                    <a role="button"
                       data-toggle="collapse"
                       data-parent="#accordion"
                       href="#listado_tipo_recurso" aria-expanded="true" aria-controls="listado_tipo_recurso">
                        Listado de {{ tipo_recurso.nombre_plural }}
                    </a>
                </h4>
            </div>
            <div id="listado_tipo_recurso" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_listado_tipo_recurso">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">
                                    {{ tipo_recurso }}
                                </th>
                                <th class="text-center">
                                    Acciones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if tipo_recurso.recursoali_set.exists %}
                                {% for recurso in tipo_recurso.recursoali_set.all %}
                                    <tr>
                                        <td>
                                            {{ recurso.get_nombre_corto }}
                                        </td>
                                        <td class="text-center">
                                            <a role="button"
                                               class="btn btn-xs btn-info"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="Ver"
                                               href="{% url 'recurso_ali_detalle' tipo_recurso.slug recurso.identificador %}">
                                                <span class="glyphicon glyphicon-eye-open"
                                                      aria-hidden="true">
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <td class="text-center alert-warning" colspan="4">
                                    No hay {{ tipo_recurso.nombre_plural }} cargados.
                                </td>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="calendar" class="calendar"></div>
{% endblock contenido %}


{% block scripts %}
    {{ block.super }}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock scripts %}


{% block fullcalendar_resources %}
    resourceLabelText: '{{ tipo_recurso }}',
    resources: [
        {% for recurso in tipo_recurso.recursoali_set.all %}
            {
                id: '{{ recurso.id }}',
                title: '{{ recurso.get_nombre_corto }}',
            },
        {% endfor %}
    ],
{% endblock fullcalendar_resources %}


{% block fullcalendar_eventSources %}
    {% for recurso in tipo_recurso.recursoali_set.all %}
        {
            url: '{% url "recurso_eventos_json" recurso.id %}',
            {% if recurso.calendar_color %}
                color: '{{ recurso.calendar_color }}',
            {% endif %}
        },
    {% endfor %}
{% endblock fullcalendar_eventSources %}
