{% extends 'app_reservas/base_calendario.html' %}
{% load static %}

{% block title %}
    Laboratorios de {{ tipo_laboratorio }}
{% endblock title %}


{% block contenido %}
    <div class="page-header">
        <h1>Laboratorios de {{ tipo_laboratorio }}</h1>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_listado_tipo_laboratorio">
                <h4 class="panel-title">
                    <a role="button"
                       data-toggle="collapse"
                       data-parent="#accordion"
                       href="#listado_tipo_laboratorio" aria-expanded="true" aria-controls="listado_tipo_laboratorio">
                        Listado de laboratorios de {{ tipo_laboratorio }}
                    </a>
                </h4>
            </div>
            <div id="listado_tipo_laboratorio" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_listado_tipo_laboratorio">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">
                                    Laboratorio
                                </th>
                                <th class="text-center">
                                    Capacidad
                                </th>
                                <th class="text-center">
                                    Acciones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if tipo_laboratorio.laboratorio_set.exists %}
                                {% for laboratorio in tipo_laboratorio.laboratorio_set.all %}
                                    <tr>
                                        <td>
                                            {{ laboratorio.get_nombre_corto }}
                                        </td>
                                        <td class="text-center">
                                            {% if laboratorio.capacidad > 0 %}
                                                {{ laboratorio.capacidad }}
                                            {% else %}
                                                &#8212;
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <a role="button"
                                               class="btn btn-xs btn-info"
                                               href="{% url 'laboratorio_detalle' tipo_laboratorio.slug laboratorio.alias %}">
                                                <span class="glyphicon glyphicon-eye-open"
                                                      aria-hidden="true">
                                                </span>
                                                <span class="hidden-xs">
                                                    &nbsp;Detalles
                                                </span>
                                            </a>
                                            {% if laboratorio.archivo_ubicacion %}
                                                <a role="button"
                                                   class="btn btn-xs btn-success"
                                                   target='_blank'
                                                   href="{{ laboratorio.archivo_ubicacion.url }}">
                                                    <span class="glyphicon glyphicon-map-marker"
                                                          aria-hidden="true">
                                                    </span>
                                                    <span class="hidden-xs">
                                                        &nbsp;Ubicación
                                                    </span>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <td class="text-center alert-warning" colspan="4">
                                    No hay laboratorios de {{ tipo_laboratorio }} cargados.
                                </td>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="calendar" class="calendar"></div>
{% endblock contenido %}


{% block fullcalendar_resources %}
    resourceLabelText: 'Laboratorio de {{ tipo_laboratorio }}',
    resources: [
        {% for laboratorio in tipo_laboratorio.laboratorio_set.all %}
            {
                id: '{{ laboratorio.id }}',
                title: '{{ laboratorio.get_nombre_corto }}',
            },
        {% endfor %}
    ],
{% endblock fullcalendar_resources %}


{% block fullcalendar_eventSources %}
    {% for laboratorio in tipo_laboratorio.laboratorio_set.all %}
        {
            url: '{% url "recurso_eventos_json" laboratorio.id %}',
            {% if laboratorio.calendar_color %}
                color: '{{ laboratorio.calendar_color }}',
            {% endif %}
        },
    {% endfor %}
{% endblock fullcalendar_eventSources %}
