{% extends 'app_reservas/base_tv.html' %}
{% load static %}

{% block title %}
    Área: {{ area }}
{% endblock title %}


{% block contenido %}
    <h1 style="text-align: center;">{{ area }}</h1>

    <div id="calendar"></div>
{% endblock contenido %}


{% block fullcalendar_resources %}
    resourceLabelText: 'Aula',
    resources: [
        {% for aula in area.get_aulas %}
            {
                id: '{{ aula.id }}',
                title: '{{ aula }}',
            },
        {% endfor %}
    ],
{% endblock fullcalendar_resources %}


{% block fullcalendar_eventSources %}
    {% for aula in area.get_aulas %}
        {
            url: '{% url "recurso_eventos_json" aula.id %}',
            {% if aula.calendar_color %}
                color: '{{ aula.calendar_color }}',
            {% endif %}
        },
    {% endfor %}
{% endblock fullcalendar_eventSources %}
