{% extends 'app_reservas/base_tv.html' %}
{% load static %}

{% block title %}
    Departamento de {{ bedelia.area }}
{% endblock title %}


{% block contenido %}
    <div class="contenedor-calendario">
        <h1>Departamento de {{ bedelia.area }}</h1>

        {% for tipo_recurso in bedelia.get_recursos %}
            {% if not forloop.first %}
                <br />
            {% endif %}
            <div id="calendar_{{ tipo_recurso.slug }}" class="calendar"></div>
        {% endfor %}
    </div>
{% endblock contenido %}


{% block scripts %}
    <script>
        {% block fullcalendar_js_vars %}
            {{ block.super }}
        {% endblock fullcalendar_js_vars %}

        $(document).ready(function() {
            {% for tipo_recurso in bedelia.get_recursos %}
                $("#calendar_{{ tipo_recurso.slug }}").fullCalendar({
                    {% block fullcalendar_defaultView %}
                        {{ block.super }}
                    {% endblock fullcalendar_defaultView %}
                    {% block fullcalendar_base_config %}
                        {{ block.super }}
                    {% endblock fullcalendar_base_config %}
                    resourceLabelText: "{{ tipo_recurso.nombre_singular }}",
                    resources: [
                        {% for recurso in tipo_recurso.elementos %}
                            {
                                id: '{{ recurso.id }}',
                                title: '{{ recurso }}',
                            },
                        {% endfor %}
                    ],
                    eventSources: [
                        {% for recurso in tipo_recurso.elementos %}
                            {
                                url: '{% url "recurso_eventos_json" recurso.id %}',
                                {% if recurso.calendar_color %}
                                    color: '{{ recurso.calendar_color }}',
                                {% endif %}
                            },
                        {% endfor %}
                    ],
                    header: {
                        {% block fullcalendar_header %}
                            left: '',
                            center: 'title',
                            right: '',
                        {% endblock fullcalendar_header %}
                    },
                    titleFormat: "[{{ tipo_recurso.nombre_plural }}]",
                    {% block fullcalendar_loading_callback %}
                        {{ block.super }}
                    {% endblock fullcalendar_loading_callback %}
                    {% block fullcalendar_opciones %}
                        {{ block.super }}
                    {% endblock %}
                });
            {% endfor %}
        });
    </script>
{% endblock scripts %}
