{% extends 'app_reservas/base_tv.html' %}
{% load static %}

{% block title %}
    Departamento de {{ bedelia.area }}
{% endblock title %}


{% block contenido %}
    <div class="contenedor-calendario">
        <h1>Departamento de {{ bedelia.area }}</h1>

        {% for tipo_recurso in bedelia.get_recursos %}
            {% if not forloop.first %}
                <br />
            {% endif %}
            <div id="calendar_{{ tipo_recurso.slug }}" class="calendar"></div>
        {% endfor %}
    </div>
{% endblock contenido %}


{% block scripts %}
    <script>
        {% block fullcalendar_js_vars %}
            {{ block.super }}
        {% endblock fullcalendar_js_vars %}

        $(document).ready(function() {
            {% for tipo_recurso in bedelia.get_recursos %}
                $("#calendar_{{ tipo_recurso.slug }}").fullCalendar({
                    {% block fullcalendar_defaultView %}
                        {{ block.super }}
                    {% endblock fullcalendar_defaultView %}
                    {% block fullcalendar_base_config %}
                        {{ block.super }}
                    {% endblock fullcalendar_base_config %}
                    resourceColumns: [
                        {
                            group: true,
                            labelText: 'Cuerpo',
                            field: 'cuerpo'
                        },
                        {
                            group: true,
                            labelText: 'Nivel',
                            field: 'nivel'
                        },
                        {
                            labelText: '{{ tipo_recurso.nombre_singular }}',
                            field: 'title'
                        },
                    ],
                    resources: [
                        {% for recurso in tipo_recurso.elementos %}
                            {% if not cuerpo_solicitado or cuerpo_solicitado == recurso.nivel.cuerpo.numero %}
                                {% if not nivel_solicitado or nivel_solicitado == recurso.nivel.numero %}
                                    {
                                        id: '{{ recurso.id }}',
                                        nivel: '{{ recurso.nivel.get_nombre_corto }}',
                                        cuerpo: '{{ recurso.nivel.cuerpo }}',
                                        title: '{{ recurso.get_nombre_corto }}',
                                    },
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    ],
                    eventSources: [
                        {% for recurso in tipo_recurso.elementos %}
                            {% if not cuerpo_solicitado or cuerpo_solicitado == recurso.nivel.cuerpo.numero %}
                                {% if not nivel_solicitado or nivel_solicitado == recurso.nivel.numero %}
                                    {
                                        url: '{% url "recurso_eventos_json" recurso.id %}',
                                        {% if recurso.calendar_color %}
                                            color: '{{ recurso.calendar_color }}',
                                        {% endif %}
                                    },
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    ],
                    header: {
                        {% block fullcalendar_header %}
                            left: '',
                            center: 'title',
                            right: '',
                        {% endblock fullcalendar_header %}
                    },
                    titleFormat: "[{{ tipo_recurso.nombre_plural }}]",
                    {% block fullcalendar_loading_callback %}
                        {{ block.super }}
                    {% endblock fullcalendar_loading_callback %}
                    {% block fullcalendar_opciones %}
                        {{ block.super }}
                    {% endblock %}
                });
            {% endfor %}
        });
    </script>
{% endblock scripts %}
